@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light dark; }
html, body, #root { height: 100%; }


@keyframes gradient-x {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

.animate-gradient-x {
  animation: gradient-x 3s linear infinite;
}


